/* Márgenes */
  
  .m-auto { margin: auto; }

  .mt-auto,
  .my-auto { margin-top: auto; }

  .mr-auto,
  .mx-auto { margin-right: auto; }

  .mb-auto,
  .my-auto { margin-bottom: auto; }

  .ml-auto,
  .mx-auto { margin-left: auto; }

  
  .mw-100 { max-width: 100%; }
  .mh-100 { max-height: 100%; }
  
  .mw-90 { max-width: 90%; }
  .mh-90 { max-height: 90%; }
  
  .mw-80 { max-width: 80%; }
  .mh-80 { max-height: 80%; }
  
  .mw-70 { max-width: 70%; }
  .mh-70 { max-height: 70%; }
  
  .mw-60 { max-width: 60%; }
  .mh-60 { max-height: 60%; }
  
  .mw-50 { max-width: 50%; }
  .mh-50 { max-height: 50%; }
  
  
  .m-0 { margin: 0; }
    
  .mt-0,
  .my-0 { margin-top: 0; }
  
  .mr-0,
  .mx-0 { margin-right: 0; }

  .mb-0,
  .my-0 { margin-bottom: 0; }

  .ml-0,
  .mx-0 { margin-left: 0; }


  .m-1 { margin: 0.25rem; }

  .mt-1,
  .my-1 { margin-top: 0.25rem; }

  .mr-1,
  .mx-1 { margin-right: 0.25rem; }

  .mb-1,
  .my-1 { margin-bottom: 0.25rem; }

  .ml-1,
  .mx-1 { margin-left: 0.25rem; }


  .m-2 { margin: 0.5rem; }

  .mt-2,
  .my-2 { margin-top: 0.5rem; }

  .mr-2,
  .mx-2 { margin-right: 0.5rem; }

  .mb-2,
  .my-2 { margin-bottom: 0.5rem; }

  .ml-2,
  .mx-2 { margin-left: 0.5rem; }


  .m-3 { margin: 1rem; }

  .mt-3,
  .my-3 { margin-top: 1rem; }

  .mr-3,
  .mx-3 { margin-right: 1rem; }

  .mb-3,
  .my-3 { margin-bottom: 1rem; }

  .ml-3,
  .mx-3 { margin-left: 1rem; }
  

  .m-4 { margin: 1.5rem; }

  .mt-4,
  .my-4 { margin-top: 1.5rem; }

  .mr-4,
  .mx-4 { margin-right: 1.5rem; }

  .mb-4,
  .my-4 { margin-bottom: 1.5rem; }

  .ml-4,
  .mx-4 { margin-left: 1.5rem; }
  

  .m-5 { margin: 3rem; }

  .mt-5,
  .my-5 { margin-top: 3rem; }

  .mr-5,
  .mx-5 { margin-right: 3rem; }

  .mb-5,
  .my-5 { margin-bottom: 3rem; }

  .ml-5,
  .mx-5 { margin-left: 3rem; }
  
  
  .m-6 { margin: 4rem; }

  .mt-6,
  .my-6 { margin-top: 4rem; }

  .mr-6,
  .mx-6 { margin-right: 4rem; }

  .mb-6,
  .my-6 { margin-bottom: 4rem; }

  .ml-6,
  .mx-6 { margin-left: 4rem; }
  
  
  .m-7 { margin: 5rem; }

  .mt-7,
  .my-7 { margin-top: 5rem; }

  .mr-7,
  .mx-7 { margin-right: 5rem; }

  .mb-7,
  .my-7 { margin-bottom: 5rem; }

  .ml-7,
  .mx-7 { margin-left: 5rem; }
  
/* Paddings */

  .p-0 { padding: 0; }

  .pt-0,
  .py-0 { padding-top: 0; }

  .pr-0,
  .px-0 { padding-right: 0; }

  .pb-0,
  .py-0 { padding-bottom: 0; }

  .pl-0,
  .px-0 { padding-left: 0; }
  

  .p-1 { padding: 0.25rem; }

  .pt-1,
  .py-1 { padding-top: 0.25rem; }

  .pr-1,
  .px-1 { padding-right: 0.25rem; }

  .pb-1,
  .py-1 { padding-bottom: 0.25rem; }

  .pl-1,
  .px-1 { padding-left: 0.25rem; }
  

  .p-2 { padding: 0.5rem; }

  .pt-2,
  .py-2 { padding-top: 0.5rem; }

  .pr-2,
  .px-2 { padding-right: 0.5rem; }

  .pb-2,
  .py-2 { padding-bottom: 0.5rem; }

  .pl-2,
  .px-2 { padding-left: 0.5rem; }
  

  .p-3 { padding: 1rem; }

  .pt-3,
  .py-3 { padding-top: 1rem; }

  .pr-3,
  .px-3 { padding-right: 1rem; }

  .pb-3,
  .py-3 { padding-bottom: 1rem; }

  .pl-3,
  .px-3 { padding-left: 1rem; }
  

  .p-4 { padding: 1.5rem; }

  .pt-4,
  .py-4 { padding-top: 1.5rem; }

  .pr-4,
  .px-4 { padding-right: 1.5rem; }

  .pb-4,
  .py-4 { padding-bottom: 1.5rem; }

  .pl-4,
  .px-4 { padding-left: 1.5rem; }
  

  .p-5 { padding: 3rem; }

  .pt-5,
  .py-5 { padding-top: 3rem; }

  .pr-5,
  .px-5 { padding-right: 3rem; }

  .pb-5,
  .py-5 { padding-bottom: 3rem; }

  .pl-5,
  .px-5 { padding-left: 3rem; }
  
  
  .p-6 { padding: 4rem; }

  .pt-6,
  .py-6 { padding-top: 4rem; }

  .pr-6,
  .px-6 { padding-right: 4rem; }

  .pb-6,
  .py-6 { padding-bottom: 4rem; }

  .pl-6,
  .px-6 { padding-left: 4rem; }
  

  .p-7 { padding: 5rem; }

  .pt-7,
  .py-7 { padding-top: 5rem; }

  .pr-7,
  .px-7 { padding-right: 5rem; }

  .pb-7,
  .py-7 { padding-bottom: 5rem; }

  .pl-7,
  .px-7 { padding-left: 5rem; }

/* Ancho - width */

  .w-25 { width: 25%; }

  .w-50 { width: 50%; }

  .w-75 { width: 75%; }

  .w-100 { width: 100%; }

  .w-auto { width: auto; }
  
  
  .w-30 { width: 30%; }

  .w-40 { width: 40%; }

  .w-60 { width: 60%; }

  .w-70 { width: 70%; }

  .w-80 { width: 80%; }
  
  .w-90 { width: 90%; }

/* Alto - height */

  .h-25 { height: 25%; }

  .h-50 { height: 50%; }

  .h-75 { height: 75%; }

  .h-100 { height: 100%; }

  .h-auto { height: auto; }
  
  
  .h-30 { height: 30%; }

  .h-40 { height: 40%; }

  .h-60 { height: 60%; }

  .h-70 { height: 70%; }

  .h-80 { height: 80%; }
  
  .h-90 { height: 90%; }
  
/* Flex */

  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  
  .flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }

  .flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }

  .flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }

  .flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }

  .flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }

  .flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }

  .flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }

  .flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }

  .flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }

  .justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }

  .justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  .justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }

  .align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  .align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }

  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }

  .align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }

  .align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }

  .align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }

  .align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }

  .align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }

  .align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }

  .align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }

  .align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }

  .align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }

  .align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }

  .align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }

  .align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }

  .align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
  
/* lists */

  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }

  .list-inline {
    padding-left: 0;
    list-style: none;
  }

  .list-inline-item {
    display: inline-block;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }
 
/* images */

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }
 
/* Acomodos (flex y position) */

  .center-block {
    margin-right: auto;
    margin-right: auto;
  }
  .fr-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .fc-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  } 
  .verticalcenter{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
/* Shadow box */
  
  .shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }

  .shadow-none {
    box-shadow: none;
  }
  
/* Cursores */
  /* Créditos: https://www.w3schools.com/cssref/pr_class_cursor.asp */
  
  .cursor-alias { cursor: alias; }
  
  .cursor-all-scroll { cursor: all-scroll; }
  
  .cursor-auto { cursor: auto; }
  
  .cursor-cell { cursor: cell; }
  
  .cursor-context-menu { cursor: context-menu; }
  
  .cursor-col-resize { cursor: col-resize; }
  
  .cursor-copy { cursor: copy; }
  
  .cursor-crosshair { cursor: crosshair; }
  
  .cursor-default { cursor: default; }
  
  .cursor-e-resize { cursor: e-resize; }
  
  .cursor-ew-resize { cursor: ew-resize; }
  
  .cursor-grab { cursor: grab; }
  
  .cursor-grabbing { cursor: grabbing; }
  
  .cursor-help { cursor: help; }
  
  .cursor-move { cursor: move; }
  
  .cursor-n-resize { cursor: n-resize; }
  
  .cursor-ne-resize { cursor: ne-resize; }
  
  .cursor-nesw-resize { cursor: nesw-resize; }
  
  .cursor-ns-resize { cursor: ns-resize; }
  
  .cursor-nw-resize { cursor: nw-resize; }
  
  .cursor-nwse-resize { cursor: nwse-resize; }
  
  .cursor-no-drop { cursor: no-drop; }
  
  .cursor-none { cursor: none; }
  
  .cursor-not-allowed { cursor: not-allowed; }
  
  .cursor-pointer { cursor: pointer; }
  
  .cursor-progress { cursor: progress; }
  
  .cursor-row-resize { cursor: row-resize; }
  
  .cursor-s-resize { cursor: s-resize; }
  
  .cursor-se-resize { cursor: se-resize; }
  
  .cursor-sw-resize { cursor: sw-resize; }
  
  .cursor-text { cursor: text; }
  
  .cursor-url { cursor: url(http://www.rw-designer.com/cursor-extern.php?id=109213),auto; }
  
  .cursor-w-resize { cursor: w-resize; }
  
  .cursor-wait { cursor: wait; }
  
  .cursor-zoom-in { cursor: zoom-in; }
  
  .cursor-zoom-out { cursor: zoom-out; }
  
/* border s*/
  .border           { border: 1px solid #dee2e6 !important; }
  .border-top       { border-top: 1px solid #dee2e6 !important; }
  .border-right     { border-right: 1px solid #dee2e6 !important; }
  .border-bottom    { border-bottom: 1px solid #dee2e6 !important; }
  .border-left      { border-left: 1px solid #dee2e6 !important; }
  .border-0         { border: 0 !important; }
  .border-top-0     { border-top: 0 !important; }
  .border-right-0   { border-right: 0 !important; }
  .border-bottom-0  { border-bottom: 0 !important; }
  .border-left-0    { border-left: 0 !important; }
  .border-primary   { border-color: #007bff !important; }
  .border-secondary { border-color: #6c757d !important; }
  .border-success   { border-color: #28a745 !important; }
  .border-info      { border-color: #17a2b8 !important; }
  .border-warning   { border-color: #ffc107 !important; }
  .border-danger    { border-color: #dc3545 !important; }
  .border-light     { border-color: #f8f9fa !important; }
  .border-dark      { border-color: #343a40 !important; }
  .border-white     { border-color: #fff !important; }
  .rounded          { border-radius: 0.25rem !important; }
  .rounded-circle   { border-radius: 50% !important; }
  .rounded-0        { border-radius: 0 !important; }
  .rounded-top { 
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
  }
  .rounded-right { 
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
  }
  .rounded-bottom { 
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
  }
  .rounded-left { 
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
  }
  
/* Text */
  .text-monospace {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .text-justify {
    text-align: justify;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }
  
  .text-lowercase {
    text-transform: lowercase;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

  .font-weight-light {
    font-weight: lighter;
  }

  .font-weight-normal {
    font-weight: normal;
  }

  .font-weight-bold {
    font-weight: bolder;
  }

  .font-italic {
    font-style: italic;
  }

  .text-white {
    color: #fff;
  }

  .text-primary {
    color: #007bff;
  }

  a.text-primary:hover, a.text-primary:focus {
    color: #0062cc;
  }

  .text-secondary {
    color: #6c757d;
  }

  a.text-secondary:hover, a.text-secondary:focus {
    color: #545b62;
  }

  .text-success {
    color: #28a745;
  }

  a.text-success:hover, a.text-success:focus {
    color: #1e7e34;
  }

  .text-info {
    color: #17a2b8;
  }

  a.text-info:hover, a.text-info:focus {
    color: #117a8b;
  }

  .text-warning {
    color: #ffc107;
  }

  a.text-warning:hover, a.text-warning:focus {
    color: #d39e00;
  }

  .text-danger {
    color: #dc3545;
  }

  a.text-danger:hover, a.text-danger:focus {
    color: #bd2130;
  }

  .text-light {
    color: #f8f9fa;
  }

  a.text-light:hover, a.text-light:focus {
    color: #dae0e5;
  }

  .text-dark {
    color: #343a40;
  }

  a.text-dark:hover, a.text-dark:focus {
    color: #1d2124;
  }

  .text-body {
    color: #212529;
  }

  .text-muted {
    color: #6c757d;
  }

  .text-black-50 {
    color: rgba(0, 0, 0, 0.5);
  }

  .text-white-50 {
    color: rgba(255, 255, 255, 0.5);
  }

  .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

/* Utilidades */

  .d-none {
    display: none !important;
  }

  .d-inline {
    display: inline !important;
  }

  .d-inline-block {
    display: inline-block !important;
  }

  .d-block {
    display: block !important;
  }
  
  .visible {
    visibility: visible;
  }

  .invisible {
    visibility: hidden;
  }
  
  .margen {
    border: 1px dashed red;
  }
  
  .on {
    display: inline;
    visibility: visible;
  }
  
  .off {
    display: none ! important;
    visibility: hidden;
    height: 0px;
    width: 0px;
    position: absolute;
    top: -9999px; z-index: 100000;
  }
  
  .code-xtracss{
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    background-color: inherit;
    border-radius: 4px;
    }
  
  .revText { /* Voltear letras */
    unicode-bidi:bidi-override;
    direction: rtl;
  } 
  
  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

/* colors */
  /*Créditos http://clrs.cc/*/
  /* Backgrounds */
    .bg-navy { background-color: #001F3F; }
    .bg-blue { background-color: #0074D9; }
    .bg-aqua { background-color: #7FDBFF; }
    .bg-teal { background-color: #39CCCC; }
    .bg-olive { background-color: #3D9970; }
    .bg-green { background-color: #2ECC40; }
    .bg-lime { background-color: #01FF70; }
    .bg-yellow { background-color: #FFDC00; }
    .bg-orange { background-color: #FF851B; }
    .bg-red { background-color: #FF4136; }
    .bg-fuchsia { background-color: #F012BE; }
    .bg-purple { background-color: #B10DC9; }
    .bg-maroon { background-color: #85144B; }
    .bg-white { background-color: #FFFFFF; }
    .bg-gray { background-color: #AAAAAA; }
    .bg-silver { background-color: #DDDDDD; }
    .bg-black { background-color: #111111; }
    /* más */
      .bg-blanco { background-color: white; }
      .bg-negro { background-color: black; }
      .bg-rojo { background-color: red; }
      .bg-verde { background-color: green; }
      .bg-amarillo { background-color: yellow; }
      .bg-naranja { background-color: orange; }
      .bg-verdefosfo { background-color: #22fd00; }
      .bg-rosa { background-color: pink; }
      .bg-morado { background-color: purple; }
      .bg-moradoclaro { background-color: darkorchid; }
      .bg-marron { background-color: #690100; }
      .bg-rosamexicano { background-color: #ce40aa; }
      .bg-azul { background-color: blue; }
      .bg-azulfosfo { background-color: #00a3f8; }
      .bg-facebook { background-color: #3b5998; }
      .bg-facebook-o scuro {background-color: #17233d; }
      .bg-azulmetalico { background-color: steelblue; }
      .bg-azulvibrante { background-color: #33C3F0; }
      .bg-gris { background-color: gray; }
      .bg-grisclaro { background-color: lightgray; }
  
  /* Colors */
    .text-navy { color: #001F3F; }
    .text-blue { color: #0074D9; }
    .text-aqua { color: #7FDBFF; }
    .text-teal { color: #39CCCC; }
    .text-olive { color: #3D9970; }
    .text-green { color: #2ECC40; }
    .text-lime { color: #01FF70; }
    .text-yellow { color: #FFDC00; }
    .text-orange { color: #FF851B; }
    .text-red { color: #FF4136; }
    .text-fuchsia { color: #F012BE; }
    .text-purple { color: #B10DC9; }
    .text-maroon { color: #85144B; }
    .text-white { color: #FFFFFF; }
    .text-silver { color: #DDDDDD; }
    .text-gray { color: #AAAAAA; }
    .text-black { color: #111111; }
    /* más */
      .text-rojo { color: red; } 
      .text-verde { color: green; } 
      .text-amarillo { color: yellow; } 
      .text-naranja { color: orange; } 
      .text-verdefosfo { color: #22fd00; }
      .text-rosa { color: pink; } 
      .text-morado { color: purple; } 
      .text-moradoclaro { color: darkorchid; }
      .text-marron { color: #690100; } 
      .text-rosamexicano { color: #ce40aa; }
      .text-azul { color: blue; } 
      .text-azulfosfo { color: #00a3f8; }
      .text-facebook { background-color: #3b5998; }
      .text-facebookoscuro { background-color: #17233d; }
      .text-azulmetalico { color: steelblue; }
      .text-azulvibrante { color: #33C3F0; }
      .text-gris { color: gray; } 
      .text-grisclaro { color: lightgray; }
  
  /* Border colors */
    .border--navy { border-color: #001F3F; }
    .border--blue { border-color: #0074D9; }
    .border--aqua { border-color: #7FDBFF; }
    .border--teal { border-color: #39CCCC; }
    .border--olive { border-color: #3D9970; }
    .border--green { border-color: #2ECC40; }
    .border--lime { border-color: #01FF70; }
    .border--yellow { border-color: #FFDC00; }
    .border--orange { border-color: #FF851B; }
    .border--red { border-color: #FF4136; }
    .border--fuchsia { border-color: #F012BE; }
    .border--purple { border-color: #B10DC9; }
    .border--maroon { border-color: #85144B; }
    .border--white { border-color: #FFFFFF; }
    .border--gray { border-color: #AAAAAA; }
    .border--silver { border-color: #DDDDDD; }
    .border--black { border-color: #111111; }
    /* más */
      .border--blanco { border-color: white; }
      .border--negro { border-color: black; }
      .border--rojo { border-color: red; }
      .border--verde { border-color: green; }
      .border--amarillo { border-color: yellow; }
      .border--naranja { border-color: orange; }
      .border--verdefosfo { background-border: #22fd00; }
      .border--rosa { border-color: pink; }
      .border--morado { border-color: purple; }
      .border--moradoclaro { border-color: darkorchid; }
      .border--marron { border-color: #690100; }
      .border--rosamexicano { border-color: #ce40aa; }
      .border--azul { border-color: blue; }
      .border--azulfosfo { border-color: #00a3f8; }
      .border--facebook { border-color: #3b5998; }
      .border--facebookoscuro { border-color: #17233d; }
      .border--azulmetalico { border-color: steelblue; }
      .border--azulvibrante { border-color: #33C3F0; }
      .border--gris { border-color: gray; }
      .border--grisclaro { border-color: lightgray; }
  
  /* Fills for SVG */
    .fill-navy { fill: #001F3F; }
    .fill-blue { fill: #0074D9; }
    .fill-aqua { fill: #7FDBFF; }
    .fill-teal { fill: #39CCCC; }
    .fill-olive { fill: #3D9970; }
    .fill-green { fill: #2ECC40; }
    .fill-lime { fill: #01FF70; }
    .fill-yellow { fill: #FFDC00; }
    .fill-orange { fill: #FF851B; }
    .fill-red { fill: #FF4136; }
    .fill-fuchsia { fill: #F012BE; }
    .fill-purple { fill: #B10DC9; }
    .fill-maroon { fill: #85144B; }
    .fill-white { fill: #FFFFFF; }
    .fill-gray { fill: #AAAAAA; }
    .fill-silver { fill: #DDDDDD; }
    .fill-black { fill: #111111; }
    /* más */
      .fill--blanco { fill: white; }
      .fill--negro { fill: black; }
      .fill--rojo { fill: red; }
      .fill--verde { fill: green; }
      .fill--amarillo { fill: yellow; }
      .fill--naranja { fill: orange; }
      .fill--verdefosfo { fill: #22fd00; }
      .fill--rosa { fill: pink; }
      .fill--morado { fill: purple; }
      .fill--moradoclaro { fill: darkorchid; }
      .fill--marron { fill: #690100; }
      .fill--rosamexicano { fill: #ce40aa; }
      .fill--azul { fill: blue; }
      .fill--azulfosfo { fill: #00a3f8; }
      .fill--facebook { fill: #3b5998; }
      .fill--facebookoscuro { fill: #17233d; }
      .fill--azulmetalico { fill: steelblue; }
      .fill--azulvibrante { fill: #33C3F0; }
      .fill--gris { fill: gray; }
      .fill--grisclaro { fill: lightgray; }
  
  /* Strokes for SVG */
    .stroke-navy { stroke: #001F3F; }
    .stroke-blue { stroke: #0074D9; }
    .stroke-aqua { stroke: #7FDBFF; }
    .stroke-teal { stroke: #39CCCC; }
    .stroke-olive { stroke: #3D9970; }
    .stroke-green { stroke: #2ECC40; }
    .stroke-lime { stroke: #01FF70; }
    .stroke-yellow { stroke: #FFDC00; }
    .stroke-orange { stroke: #FF851B; }
    .stroke-red { stroke: #FF4136; }
    .stroke-fuchsia { stroke: #F012BE; }
    .stroke-purple { stroke: #B10DC9; }
    .stroke-maroon { stroke: #85144B; }
    .stroke-white { stroke: #FFFFFF; }
    .stroke-gray { stroke: #AAAAAA; }
    .stroke-silver { stroke: #DDDDDD; }
    .stroke-black { stroke: #111111; }
    /* más */
      .stroke-blanco { stroke: white; }
      .stroke-negro { stroke: black; }
      .stroke-rojo { stroke: red; }
      .stroke-verde { stroke: green; }
      .stroke-amarillo { stroke: yellow; }
      .stroke-naranja { stroke: orange; }
      .stroke-verdefosfo { stroke: #22fd00; }
      .stroke-rosa { stroke: pink; }
      .stroke-morado { stroke: purple; }
      .stroke-moradoclaro { stroke: darkorchid; }
      .stroke-marron { stroke: #690100; }
      .stroke-rosamexicano { stroke: #ce40aa; }
      .stroke-azul { stroke: blue; }
      .stroke-azulfosfo { stroke: #00a3f8; }
      .stroke-facebook { stroke: #3b5998; }
      .stroke-facebookoscuro { stroke: #17233d; }
      .stroke-azulmetalico { stroke: steelblue; }
      .stroke-azulvibrante { stroke: #33C3F0; }
      .stroke-gris { stroke: gray; }
      .stroke-grisclaro { stroke: lightgray; }

/*Tamaño de fuente*/

  small {
    font-size: 80%;
  }
  
  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  h3, .h3 {
    font-size: 1.75rem;
  }

  h4, .h4 {
    font-size: 1.5rem;
  }

  h5, .h5 {
    font-size: 1.25rem;
  }

  h6, .h6 {
    font-size: 1rem;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  small,
  .small {
    font-size: 80%;
    font-weight: 400;
  }
  
  /* agrandador de fuentes */
  .x1     { font-size: 1rem; }
  .x1-25  { font-size: 1.25rem; }
  .x1-5   { font-size: 1.5rem; }
  .x1-75  { font-size: 1.75rem; }
  .x2     { font-size: 2rem; }
  .x2-25  { font-size: 2.25rem; }
  .x2-5   { font-size: 2.5rem; }
  .x2-75  { font-size: 2.75rem; }
  .x3     { font-size: 3rem; }
  .x3-25  { font-size: 3.25rem; }
  .x3-5   { font-size: 3.5rem; }
  .x3-75  { font-size: 3.75rem; }
  .x4     { font-size: 4rem; }
  .x4-25  { font-size: 4.25rem; }
  .x4-5   { font-size: 4.5rem; }
  .x4-75  { font-size: 4.75rem; }
  .x5     { font-size: 5rem; }
  .x5-25  { font-size: 5.25rem; }
  .x5-5   { font-size: 5.5rem; }
  .x5-75  { font-size: 5.75rem; }
  .x6     { font-size: 6rem; }
  .x6-25  { font-size: 6.25rem; }
  .x6-5   { font-size: 6.5rem; }
  .x6-75  { font-size: 6.75rem; }
  .x7     { font-size: 7rem; }
  .x7-25  { font-size: 7.25rem; }
  .x7-5   { font-size: 7.5rem; }
  .x7-75  { font-size: 7.75rem; }
  .x8     { font-size: 8rem; }
  .x8-25  { font-size: 8.25rem; }
  .x8-5   { font-size: 8.5rem; }
  .x8-75  { font-size: 8.75rem; }
  .x9     { font-size: 9rem; }
  .x9-25  { font-size: 9.25rem; }
  .x9-5   { font-size: 9.5rem; }
  .x9-75  { font-size: 9.75rem; }
  
  /* achicador de fuentes en porcentaje */
  .x0-1   { font-size: 0.1rem; }
  .x0-15  { font-size: 0.15rem; }
  .x0-2   { font-size: 0.2rem; }
  .x0-25  { font-size: 0.25rem; }
  .x0-3   { font-size: 0.3rem; }
  .x0-35  { font-size: 0.35rem; }
  .x0-4   { font-size: 0.4rem; }
  .x0-45  { font-size: 0.45rem; }
  .x0-5   { font-size: 0.5rem; }
  .x0-55  { font-size: 0.55rem; }
  .x0-6   { font-size: 0.6rem; }
  .x0-65  { font-size: 0.65rem; }
  .x0-7   { font-size: 0.7rem; }
  .x0-75  { font-size: 0.75rem; }
  .x0-8   { font-size: 0.8rem; }
  .x0-85  { font-size: 0.85rem; }
  .x0-9   { font-size: 0.9rem; }
  .x0-95  { font-size: 0.95rem; }

/* Fuentes */
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
  @import url('https://fonts.googleapis.com/css?family=Courgette');
  @import url('https://fonts.googleapis.com/css?family=Raleway');
  .letra-open-sans {font-family: 'Open Sans', sans-serif;}
  .letra-courgette {font-family: "Courgette", Arial, sans-serif;}
  .letra-raleway {font-family: "Raleway", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;}
  
/* ---------- EN PRUEBA ---------- */
  .texto-margen-default {
    border: 1px solid gray;
    padding: 3px 8px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
  }
  .texto-contiuno {
    white-space: nowrap;
  }
  .parallax-50 { 
    height: auto;  
    margin: 0 auto 50px auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0; } 
  /* Well */
    .well-claro {background-color: #f0f0f0;}
    .well-oscuro {
      background-color: #17233d;
    }
    .well-oscuro h1,
    .well-oscuro h2, 
    .well-oscuro h3, 
    .well-oscuro h4, 
    .well-oscuro h5, 
    .well-oscuro h6, 
    .well-oscuro p {
      color: white;
    }
    .well-oscuro .text-primary {color: #fff;}
    .well-oscuro .text-success {color: yellowgreen;}
    .well-oscuro .text-info {color: #2f98b7;}
    .well-oscuro .text-warning {color: orange;}
    .well-oscuro .text-danger {color: red;}
    .well-oscuro .text-muted {color: gray;}
    .well-shadow-01 {box-shadow: 0 -3px 12px rgba(0,0,0,0.15);}

    blockquote.blk-azul-metalico {
      border-left-width: 6px;
      color: steelblue;
      padding: 10.5px 21px;
      margin: 0 0 21px;
      font-size: 18.75px;
      border-left: 5px solid steelblue;
      background-color: #eeeeee;
      }
  /*width*/
    .w-1 { width: 1rem; }
    .w-2 { width: 2rem; }
    .w-3 { width: 3rem; }
    .w-4 { width: 4rem; }
    .w-5 { width: 5rem; }
    .w-6 { width: 6rem; }
    .w-7 { width: 7rem; }
    .w-8 { width: 8rem; }
    .w-9 { width: 9rem; }
    .w-10 { width: 10rem; }
    .w-11 { width: 11rem; }
    .w-12 { width: 12rem; }
    .w-13 { width: 13rem; }
    .w-14 { width: 14rem; }
    .w-15 { width: 15rem; }
    .w-16 { width: 16rem; }
    .w-17 { width: 17rem; }
    .w-18 { width: 18rem; }
    .w-19 { width: 19rem; }
    .w-20 { width: 20rem; }
    .w-21 { width: 21rem; }
    .w-22 { width: 22rem; }
    .w-23 { width: 23rem; }
    .w-24 { width: 24rem; }
    .w-25 { width: 25rem; }
    .w-26 { width: 26rem; }
    .w-27 { width: 27rem; }
    .w-28 { width: 28rem; }
    .w-29 { width: 29rem; }
    .w-30 { width: 30rem; }
    .w-31 { width: 31rem; }
    .w-32 { width: 32rem; }
    .w-33 { width: 33rem; }
    .w-34 { width: 34rem; }
    .w-35 { width: 35rem; }
    .w-36 { width: 36rem; }
    .w-37 { width: 37rem; }
    .w-38 { width: 38rem; }
    .w-39 { width: 39rem; }
    .w-40 { width: 40rem; }
    .w-41 { width: 41rem; }
    .w-42 { width: 42rem; }
    .w-43 { width: 43rem; }
    .w-44 { width: 44rem; }
    .w-45 { width: 45rem; }
    .w-46 { width: 46rem; }
    .w-47 { width: 47rem; }
    .w-48 { width: 48rem; }
    .w-49 { width: 49rem; }
    .w-50 { width: 50rem; }
    .w-51 { width: 51rem; }
    .w-52 { width: 52rem; }
    .w-53 { width: 53rem; }
    .w-54 { width: 54rem; }
    .w-55 { width: 55rem; }
    .w-56 { width: 56rem; }
    .w-57 { width: 57rem; }
    .w-58 { width: 58rem; }
    .w-59 { width: 59rem; }

    .mw-1 { max-width: 1rem; }
    .mw-2 { max-width: 2rem; }
    .mw-3 { max-width: 3rem; }
    .mw-4 { max-width: 4rem; }
    .mw-5 { max-width: 5rem; }
    .mw-6 { max-width: 6rem; }
    .mw-7 { max-width: 7rem; }
    .mw-8 { max-width: 8rem; }
    .mw-9 { max-width: 9rem; }
    .mw-10 { max-width: 10rem; }
    .mw-11 { max-width: 11rem; }
    .mw-12 { max-width: 12rem; }
    .mw-13 { max-width: 13rem; }
    .mw-14 { max-width: 14rem; }
    .mw-15 { max-width: 15rem; }
    .mw-16 { max-width: 16rem; }
    .mw-17 { max-width: 17rem; }
    .mw-18 { max-width: 18rem; }
    .mw-19 { max-width: 19rem; }
    .mw-20 { max-width: 20rem; }
    .mw-21 { max-width: 21rem; }
    .mw-22 { max-width: 22rem; }
    .mw-23 { max-width: 23rem; }
    .mw-24 { max-width: 24rem; }
    .mw-25 { max-width: 25rem; }
    .mw-26 { max-width: 26rem; }
    .mw-27 { max-width: 27rem; }
    .mw-28 { max-width: 28rem; }
    .mw-29 { max-width: 29rem; }
    .mw-30 { max-width: 30rem; }
    .mw-31 { max-width: 31rem; }
    .mw-32 { max-width: 32rem; }
    .mw-33 { max-width: 33rem; }
    .mw-34 { max-width: 34rem; }
    .mw-35 { max-width: 35rem; }
    .mw-36 { max-width: 36rem; }
    .mw-37 { max-width: 37rem; }
    .mw-38 { max-width: 38rem; }
    .mw-39 { max-width: 39rem; }
    .mw-40 { max-width: 40rem; }
    .mw-41 { max-width: 41rem; }
    .mw-42 { max-width: 42rem; }
    .mw-43 { max-width: 43rem; }
    .mw-44 { max-width: 44rem; }
    .mw-45 { max-width: 45rem; }
    .mw-46 { max-width: 46rem; }
    .mw-47 { max-width: 47rem; }
    .mw-48 { max-width: 48rem; }
    .mw-49 { max-width: 49rem; }
    .mw-50 { max-width: 50rem; }
    .mw-51 { max-width: 51rem; }
    .mw-52 { max-width: 52rem; }
    .mw-53 { max-width: 53rem; }
    .mw-54 { max-width: 54rem; }
    .mw-55 { max-width: 55rem; }
    .mw-56 { max-width: 56rem; }
    .mw-57 { max-width: 57rem; }
    .mw-58 { max-width: 58rem; }
    .mw-59 { max-width: 59rem; }
  /*height*/
    .h-1 { height: 1rem; }
    .h-2 { height: 2rem; }
    .h-3 { height: 3rem; }
    .h-4 { height: 4rem; }
    .h-5 { height: 5rem; }
    .h-6 { height: 6rem; }
    .h-7 { height: 7rem; }
    .h-8 { height: 8rem; }
    .h-9 { height: 9rem; }
    .h-10 { height: 10rem; }
    .h-11 { height: 11rem; }
    .h-12 { height: 12rem; }
    .h-13 { height: 13rem; }
    .h-14 { height: 14rem; }
    .h-15 { height: 15rem; }
    .h-16 { height: 16rem; }
    .h-17 { height: 17rem; }
    .h-18 { height: 18rem; }
    .h-19 { height: 19rem; }
    .h-20 { height: 20rem; }
    .h-21 { height: 21rem; }
    .h-22 { height: 22rem; }
    .h-23 { height: 23rem; }
    .h-24 { height: 24rem; }
    .h-25 { height: 25rem; }
    .h-26 { height: 26rem; }
    .h-27 { height: 27rem; }
    .h-28 { height: 28rem; }
    .h-29 { height: 29rem; }
    .h-30 { height: 30rem; }
    .h-31 { height: 31rem; }
    .h-32 { height: 32rem; }
    .h-33 { height: 33rem; }
    .h-34 { height: 34rem; }
    .h-35 { height: 35rem; }
    .h-36 { height: 36rem; }
    .h-37 { height: 37rem; }
    .h-38 { height: 38rem; }
    .h-39 { height: 39rem; }
    .h-40 { height: 40rem; }
    .h-41 { height: 41rem; }
    .h-42 { height: 42rem; }
    .h-43 { height: 43rem; }
    .h-44 { height: 44rem; }
    .h-45 { height: 45rem; }
    .h-46 { height: 46rem; }
    .h-47 { height: 47rem; }
    .h-48 { height: 48rem; }
    .h-49 { height: 49rem; }
    .h-50 { height: 50rem; }
    .h-51 { height: 51rem; }
    .h-52 { height: 52rem; }
    .h-53 { height: 53rem; }
    .h-54 { height: 54rem; }
    .h-55 { height: 55rem; }
    .h-56 { height: 56rem; }
    .h-57 { height: 57rem; }
    .h-58 { height: 58rem; }
    .h-59 { height: 59rem; }

    .mh-1 { max-height: 1rem; }
    .mh-2 { max-height: 2rem; }
    .mh-3 { max-height: 3rem; }
    .mh-4 { max-height: 4rem; }
    .mh-5 { max-height: 5rem; }
    .mh-6 { max-height: 6rem; }
    .mh-7 { max-height: 7rem; }
    .mh-8 { max-height: 8rem; }
    .mh-9 { max-height: 9rem; }
    .mh-10 { max-height: 10rem; }
    .mh-11 { max-height: 11rem; }
    .mh-12 { max-height: 12rem; }
    .mh-13 { max-height: 13rem; }
    .mh-14 { max-height: 14rem; }
    .mh-15 { max-height: 15rem; }
    .mh-16 { max-height: 16rem; }
    .mh-17 { max-height: 17rem; }
    .mh-18 { max-height: 18rem; }
    .mh-19 { max-height: 19rem; }
    .mh-20 { max-height: 20rem; }
    .mh-21 { max-height: 21rem; }
    .mh-22 { max-height: 22rem; }
    .mh-23 { max-height: 23rem; }
    .mh-24 { max-height: 24rem; }
    .mh-25 { max-height: 25rem; }
    .mh-26 { max-height: 26rem; }
    .mh-27 { max-height: 27rem; }
    .mh-28 { max-height: 28rem; }
    .mh-29 { max-height: 29rem; }
    .mh-30 { max-height: 30rem; }
    .mh-31 { max-height: 31rem; }
    .mh-32 { max-height: 32rem; }
    .mh-33 { max-height: 33rem; }
    .mh-34 { max-height: 34rem; }
    .mh-35 { max-height: 35rem; }
    .mh-36 { max-height: 36rem; }
    .mh-37 { max-height: 37rem; }
    .mh-38 { max-height: 38rem; }
    .mh-39 { max-height: 39rem; }
    .mh-40 { max-height: 40rem; }
    .mh-41 { max-height: 41rem; }
    .mh-42 { max-height: 42rem; }
    .mh-43 { max-height: 43rem; }
    .mh-44 { max-height: 44rem; }
    .mh-45 { max-height: 45rem; }
    .mh-46 { max-height: 46rem; }
    .mh-47 { max-height: 47rem; }
    .mh-48 { max-height: 48rem; }
    .mh-49 { max-height: 49rem; }
    .mh-50 { max-height: 50rem; }
    .mh-51 { max-height: 51rem; }
    .mh-52 { max-height: 52rem; }
    .mh-53 { max-height: 53rem; }
    .mh-54 { max-height: 54rem; }
    .mh-55 { max-height: 55rem; }
    .mh-56 { max-height: 56rem; }
    .mh-57 { max-height: 57rem; }
    .mh-58 { max-height: 58rem; }
    .mh-59 { max-height: 59rem; }

/* ---------- EN DESUSO ---------- */
  /* espaciadores top aumenta margen arriba lo indicado en pixeles de 5 en 5 */
    /* top vertical px */
    .tv-padder-5px { padding-top: 5px; }
    .tv-padder-10px { padding-top: 10px; }
    .tv-padder-15px { padding-top: 15px; }
    .tv-padder-20px { padding-top: 20px; }
    .tv-padder-25px { padding-top: 25px; }
    .tv-padder-30px { padding-top: 30px; }
    .tv-padder-35px { padding-top: 35px; }
    .tv-padder-40px { padding-top: 40px; }
    .tv-padder-45px { padding-top: 45px; }
    .tv-padder-50px { padding-top: 50px; }
    .tv-padder-55px { padding-top: 55px; }
    .tv-padder-60px { padding-top: 60px; }
    .tv-padder-65px { padding-top: 65px; }
    .tv-padder-70px { padding-top: 70px; }
    .tv-padder-75px { padding-top: 75px; }
    .tv-padder-80px { padding-top: 80px; }
    .tv-padder-85px { padding-top: 85px; }
    .tv-padder-90px { padding-top: 90px; }
    .tv-padder-95px { padding-top: 95px; }
    .tv-padder-100px { padding-top: 100px; }
    .tv-padder-105px { padding-top: 105px; }
    .tv-padder-110px { padding-top: 110px; }
    .tv-padder-115px { padding-top: 115px; }
    .tv-padder-120px { padding-top: 120px; }
    .tv-padder-125px { padding-top: 125px; }
    .tv-padder-130px { padding-top: 130px; }
    .tv-padder-135px { padding-top: 135px; }
    .tv-padder-140px { padding-top: 140px; }
    .tv-padder-145px { padding-top: 145px; }
    .tv-padder-150px { padding-top: 150px; }
    .tv-padder-155px { padding-top: 155px; }
    .tv-padder-160px { padding-top: 160px; }
    .tv-padder-165px { padding-top: 165px; }
    .tv-padder-170px { padding-top: 170px; }
    .tv-padder-175px { padding-top: 175px; }
    .tv-padder-180px { padding-top: 180px; }
    .tv-padder-185px { padding-top: 185px; }
    .tv-padder-190px { padding-top: 190px; }
    .tv-padder-195px { padding-top: 195px; }
    .tv-padder-200px { padding-top: 200px; }
  /* espaciadores bottom aumenta margen abajo lo indicado en pixeles de 5 en 5 */
    /* bottom vertical px */
    .bv-padder-5px { padding-bottom: 5px; }
    .bv-padder-10px { padding-bottom: 10px; }
    .bv-padder-15px { padding-bottom: 15px; }
    .bv-padder-20px { padding-bottom: 20px; }
    .bv-padder-25px { padding-bottom: 25px; }
    .bv-padder-30px { padding-bottom: 30px; }
    .bv-padder-35px { padding-bottom: 35px; }
    .bv-padder-40px { padding-bottom: 40px; }
    .bv-padder-45px { padding-bottom: 45px; }
    .bv-padder-50px { padding-bottom: 50px; }
    .bv-padder-55px { padding-bottom: 55px; }
    .bv-padder-60px { padding-bottom: 60px; }
    .bv-padder-65px { padding-bottom: 65px; }
    .bv-padder-70px { padding-bottom: 70px; }
    .bv-padder-75px { padding-bottom: 75px; }
    .bv-padder-80px { padding-bottom: 80px; }
    .bv-padder-85px { padding-bottom: 85px; }
    .bv-padder-90px { padding-bottom: 90px; }
    .bv-padder-95px { padding-bottom: 95px; }
    .bv-padder-100px { padding-bottom: 100px; }
    .bv-padder-105px { padding-bottom: 105px; }
    .bv-padder-110px { padding-bottom: 110px; }
    .bv-padder-115px { padding-bottom: 115px; }
    .bv-padder-120px { padding-bottom: 120px; }
    .bv-padder-125px { padding-bottom: 125px; }
    .bv-padder-130px { padding-bottom: 130px; }
    .bv-padder-135px { padding-bottom: 135px; }
    .bv-padder-140px { padding-bottom: 140px; }
    .bv-padder-145px { padding-bottom: 145px; }
    .bv-padder-150px { padding-bottom: 150px; }
    .bv-padder-155px { padding-bottom: 155px; }
    .bv-padder-160px { padding-bottom: 160px; }
    .bv-padder-165px { padding-bottom: 165px; }
    .bv-padder-170px { padding-bottom: 170px; }
    .bv-padder-175px { padding-bottom: 175px; }
    .bv-padder-180px { padding-bottom: 180px; }
    .bv-padder-185px { padding-bottom: 185px; }
    .bv-padder-190px { padding-bottom: 190px; }
    .bv-padder-195px { padding-bottom: 195px; }
    .bv-padder-200px { padding-bottom: 200px; }
  /* espaciadores left aumenta padding izquierda lo indicado en pixeles de 5 en 5 */
    /* izquierda horizontal px */
    .lh-padder-5px { padding-left: 5px; }
    .lh-padder-10px { padding-left: 10px; }
    .lh-padder-15px { padding-left: 15px; }
    .lh-padder-20px { padding-left: 20px; }
    .lh-padder-25px { padding-left: 25px; }
    .lh-padder-30px { padding-left: 30px; }
    .lh-padder-35px { padding-left: 35px; }
    .lh-padder-40px { padding-left: 40px; }
    .lh-padder-45px { padding-left: 45px; }
    .lh-padder-50px { padding-left: 50px; }
    .lh-padder-55px { padding-left: 55px; }
    .lh-padder-60px { padding-left: 60px; }
    .lh-padder-65px { padding-left: 65px; }
    .lh-padder-70px { padding-left: 70px; }
    .lh-padder-75px { padding-left: 75px; }
    .lh-padder-80px { padding-left: 80px; }
    .lh-padder-85px { padding-left: 85px; }
    .lh-padder-90px { padding-left: 90px; }
    .lh-padder-95px { padding-left: 95px; }
    .lh-padder-100px { padding-left: 100px; }
    .lh-padder-105px { padding-left: 105px; }
    .lh-padder-110px { padding-left: 110px; }
    .lh-padder-115px { padding-left: 115px; }
    .lh-padder-120px { padding-left: 120px; }
    .lh-padder-125px { padding-left: 125px; }
    .lh-padder-130px { padding-left: 130px; }
    .lh-padder-135px { padding-left: 135px; }
    .lh-padder-140px { padding-left: 140px; }
    .lh-padder-145px { padding-left: 145px; }
    .lh-padder-150px { padding-left: 150px; }
    .lh-padder-155px { padding-left: 155px; }
    .lh-padder-160px { padding-left: 160px; }
    .lh-padder-165px { padding-left: 165px; }
    .lh-padder-170px { padding-left: 170px; }
    .lh-padder-175px { padding-left: 175px; }
    .lh-padder-180px { padding-left: 180px; }
    .lh-padder-185px { padding-left: 185px; }
    .lh-padder-190px { padding-left: 190px; }
    .lh-padder-195px { padding-left: 195px; }
    .lh-padder-200px { padding-left: 200px; }
  /* espaciadores right aumenta padding a la derecha lo indicado en pixeles de 5 en 5 */
  /* right horizontal px */
    .rh-padder-5px { padding-right: 5px; }
    .rh-padder-10px { padding-right: 10px; }
    .rh-padder-15px { padding-right: 15px; }
    .rh-padder-20px { padding-right: 20px; }
    .rh-padder-25px { padding-right: 25px; }
    .rh-padder-30px { padding-right: 30px; }
    .rh-padder-35px { padding-right: 35px; }
    .rh-padder-40px { padding-right: 40px; }
    .rh-padder-45px { padding-right: 45px; }
    .rh-padder-50px { padding-right: 50px; }
    .rh-padder-55px { padding-right: 55px; }
    .rh-padder-60px { padding-right: 60px; }
    .rh-padder-65px { padding-right: 65px; }
    .rh-padder-70px { padding-right: 70px; }
    .rh-padder-75px { padding-right: 75px; }
    .rh-padder-80px { padding-right: 80px; }
    .rh-padder-85px { padding-right: 85px; }
    .rh-padder-90px { padding-right: 90px; }
    .rh-padder-95px { padding-right: 95px; }
    .rh-padder-100px { padding-right: 100px; }
    .rh-padder-105px { padding-right: 105px; }
    .rh-padder-110px { padding-right: 110px; }
    .rh-padder-115px { padding-right: 115px; }
    .rh-padder-120px { padding-right: 120px; }
    .rh-padder-125px { padding-right: 125px; }
    .rh-padder-130px { padding-right: 130px; }
    .rh-padder-135px { padding-right: 135px; }
    .rh-padder-140px { padding-right: 140px; }
    .rh-padder-145px { padding-right: 145px; }
    .rh-padder-150px { padding-right: 150px; }
    .rh-padder-155px { padding-right: 155px; }
    .rh-padder-160px { padding-right: 160px; }
    .rh-padder-165px { padding-right: 165px; }
    .rh-padder-170px { padding-right: 170px; }
    .rh-padder-175px { padding-right: 175px; }
    .rh-padder-180px { padding-right: 180px; }
    .rh-padder-185px { padding-right: 185px; }
    .rh-padder-190px { padding-right: 190px; }
    .rh-padder-195px { padding-right: 195px; }
    .rh-padder-200px { padding-right: 200px; }
  /* Espaciadores */
  /* espaciadores top aumenta margen arriba lo indicado en pixeles de 5 en 5 */
    /* top vertical px */
    .tv-spacer-10px { margin-top: 10px; }
    .tv-spacer-15px { margin-top: 15px; }
    .tv-spacer-20px { margin-top: 20px; }
    .tv-spacer-25px { margin-top: 25px; }
    .tv-spacer-30px { margin-top: 30px; }
    .tv-spacer-35px { margin-top: 35px; }
    .tv-spacer-40px { margin-top: 40px; }
    .tv-spacer-45px { margin-top: 45px; }
    .tv-spacer-50px { margin-top: 50px; }
    .tv-spacer-55px { margin-top: 55px; }
    .tv-spacer-60px { margin-top: 60px; }
    .tv-spacer-65px { margin-top: 65px; }
    .tv-spacer-70px { margin-top: 70px; }
    .tv-spacer-75px { margin-top: 75px; }
    .tv-spacer-80px { margin-top: 80px; }
    .tv-spacer-85px { margin-top: 85px; }
    .tv-spacer-90px { margin-top: 90px; }
    .tv-spacer-95px { margin-top: 95px; }
    .tv-spacer-100px { margin-top: 100px; }
    .tv-spacer-105px { margin-top: 105px; }
    .tv-spacer-110px { margin-top: 110px; }
    .tv-spacer-115px { margin-top: 115px; }
    .tv-spacer-120px { margin-top: 120px; }
    .tv-spacer-125px { margin-top: 125px; }
    .tv-spacer-130px { margin-top: 130px; }
    .tv-spacer-135px { margin-top: 135px; }
    .tv-spacer-140px { margin-top: 140px; }
    .tv-spacer-145px { margin-top: 145px; }
    .tv-spacer-150px { margin-top: 150px; }
    .tv-spacer-155px { margin-top: 155px; }
    .tv-spacer-160px { margin-top: 160px; }
    .tv-spacer-165px { margin-top: 165px; }
    .tv-spacer-170px { margin-top: 170px; }
    .tv-spacer-175px { margin-top: 175px; }
    .tv-spacer-180px { margin-top: 180px; }
    .tv-spacer-185px { margin-top: 185px; }
    .tv-spacer-190px { margin-top: 190px; }
    .tv-spacer-195px { margin-top: 195px; }
    .tv-spacer-200px { margin-top: 200px; }
  /* espaciadores top aumenta margen abajo lo indicado en pixeles de 5 en 5 */
    /* bottom vertical px */
    .bv-spacer-10px { margin-bottom: 10px; }
    .bv-spacer-15px { margin-bottom: 15px; }
    .bv-spacer-20px { margin-bottom: 20px; }
    .bv-spacer-25px { margin-bottom: 25px; }
    .bv-spacer-30px { margin-bottom: 30px; }
    .bv-spacer-35px { margin-bottom: 35px; }
    .bv-spacer-40px { margin-bottom: 40px; }
    .bv-spacer-45px { margin-bottom: 45px; }
    .bv-spacer-50px { margin-bottom: 50px; }
    .bv-spacer-55px { margin-bottom: 55px; }
    .bv-spacer-60px { margin-bottom: 60px; }
    .bv-spacer-65px { margin-bottom: 65px; }
    .bv-spacer-70px { margin-bottom: 70px; }
    .bv-spacer-75px { margin-bottom: 75px; }
    .bv-spacer-80px { margin-bottom: 80px; }
    .bv-spacer-85px { margin-bottom: 85px; }
    .bv-spacer-90px { margin-bottom: 90px; }
    .bv-spacer-95px { margin-bottom: 95px; }
    .bv-spacer-100px { margin-bottom: 100px; }
    .bv-spacer-105px { margin-bottom: 105px; }
    .bv-spacer-110px { margin-bottom: 110px; }
    .bv-spacer-115px { margin-bottom: 115px; }
    .bv-spacer-120px { margin-bottom: 120px; }
    .bv-spacer-125px { margin-bottom: 125px; }
    .bv-spacer-130px { margin-bottom: 130px; }
    .bv-spacer-135px { margin-bottom: 135px; }
    .bv-spacer-140px { margin-bottom: 140px; }
    .bv-spacer-145px { margin-bottom: 145px; }
    .bv-spacer-150px { margin-bottom: 150px; }
    .bv-spacer-155px { margin-bottom: 155px; }
    .bv-spacer-160px { margin-bottom: 160px; }
    .bv-spacer-165px { margin-bottom: 165px; }
    .bv-spacer-170px { margin-bottom: 170px; }
    .bv-spacer-175px { margin-bottom: 175px; }
    .bv-spacer-180px { margin-bottom: 180px; }
    .bv-spacer-185px { margin-bottom: 185px; }
    .bv-spacer-190px { margin-bottom: 190px; }
    .bv-spacer-195px { margin-bottom: 195px; }
    .bv-spacer-200px { margin-bottom: 200px; }
  /* doble espaciadores top & bottom aumenta 5px arriba y abajo por vez */
    /* doble vertical */
    .dv-spacer-10px { margin-bottom: 10px; margin-top: 10px; clear: both; }
    .dv-spacer-15px { margin-bottom: 15px; margin-top: 15px; clear: both; }
    .dv-spacer-20px { margin-bottom: 20px; margin-top: 20px; clear: both; }
    .dv-spacer-25px { margin-bottom: 25px; margin-top: 25px; clear: both; }
    .dv-spacer-30px { margin-bottom: 30px; margin-top: 30px; clear: both; }
    .dv-spacer-35px { margin-bottom: 35px; margin-top: 35px; clear: both; }
    .dv-spacer-40px { margin-bottom: 40px; margin-top: 40px; clear: both; }
    .dv-spacer-45px { margin-bottom: 45px; margin-top: 45px; clear: both; }
    .dv-spacer-50px { margin-bottom: 50px; margin-top: 50px; clear: both; }
    .dv-spacer-55px { margin-bottom: 55px; margin-top: 55px; clear: both; }
    .dv-spacer-60px { margin-bottom: 60px; margin-top: 60px; clear: both; }
    .dv-spacer-65px { margin-bottom: 65px; margin-top: 65px; clear: both; }
    .dv-spacer-70px { margin-bottom: 70px; margin-top: 70px; clear: both; }
    .dv-spacer-75px { margin-bottom: 75px; margin-top: 75px; clear: both; }
    .dv-spacer-80px { margin-bottom: 80px; margin-top: 80px; clear: both; }
    .dv-spacer-85px { margin-bottom: 85px; margin-top: 85px; clear: both; }
    .dv-spacer-90px { margin-bottom: 90px; margin-top: 90px; clear: both; }
    .dv-spacer-95px { margin-bottom: 95px; margin-top: 95px; clear: both; }
    .dv-spacer-100px { margin-bottom: 100px; margin-top: 100px; clear: both; }
    .dv-spacer-105px { margin-bottom: 105px; margin-top: 105px; clear: both; }
    .dv-spacer-110px { margin-bottom: 110px; margin-top: 110px; clear: both; }
    .dv-spacer-115px { margin-bottom: 115px; margin-top: 115px; clear: both; }
    .dv-spacer-120px { margin-bottom: 120px; margin-top: 120px; clear: both; }
    .dv-spacer-125px { margin-bottom: 125px; margin-top: 125px; clear: both; }
    .dv-spacer-130px { margin-bottom: 130px; margin-top: 130px; clear: both; }
    .dv-spacer-135px { margin-bottom: 135px; margin-top: 135px; clear: both; }
    .dv-spacer-140px { margin-bottom: 140px; margin-top: 140px; clear: both; }
    .dv-spacer-145px { margin-bottom: 145px; margin-top: 145px; clear: both; }
    .dv-spacer-150px { margin-bottom: 150px; margin-top: 150px; clear: both; }
    .dv-spacer-155px { margin-bottom: 155px; margin-top: 155px; clear: both; }
  /* horizontal espaciadores aumenta 5px izquierda cada vez */
    /* left horizontal */
    .lh-spacer { margin-left: 5%;}
    .lh-spacer-x2 { margin-left: 10%;}
    .lh-spacer-x3 { margin-left: 15%;}
    .lh-spacer-x4 { margin-left: 20%;}
    .lh-spacer-x5 { margin-left: 25%;}
  /* horizontal espaciadores aumenta 5px derecha cada vez */
    /* right horizontal */
    .rh-spacer { margin-right: 5%;}
    .rh-spacer-x2 { margin-right: 10%;}
    .rh-spacer-x3 { margin-right: 15%;}
    .rh-spacer-x4 { margin-right: 20%;}
    .rh-spacer-x5 { margin-right: 25%;}
  /* doble espaciadores left & right aumenta 5px izquierda y derecha por vez */
    /* dole horizontal */
    .dh-spacer { margin-left: 5%; margin-right: 5%; }
    .dh-spacer-x2 { margin-left: 10%; margin-right: 10%; }
    .dh-spacer-x3 { margin-left: 15%; margin-right: 15%; }
    .dh-spacer-x4 { margin-left: 20%; margin-right: 20%; }
    .d-hspacer-x5 { margin-left: 25%; margin-right: 25%; }